#external{
    color: blueviolet;
    background-color: cadetblue;
    font-size: 30px;
}

#Exaltech{
    color: darkgoldenrod;
    background-color: crimson;
    font-size: 1.0;
    background-size: auto;
}