body{
    background-image:url(https://i.pinimg.com/originals/e5/f2/f5/e5f2f5936bf6814c056e76ad6b0db467.jpg);   
    /* background-size: ; */
    /* height:100px; */
    /* width: 100px; */
    
}
.mydiv{
    width: 500px;
    height: 500px;
    background-image: url(https://thumbs.dreamstime.com/b/nacher-green-flowers-trees-big-field-166370374.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid teal;
    background-size: cover;
    background-color: red;
}
.Div{
    
  
}
